@charset "UTF-8";

/*
   Paleta de Cores
    verde:          #49a09d
    lilás:          #5f2c82
    bronze:         #cd7f32
    cobre:          #b87333
    dourado escuro: #b8860b
    ferrugem:       #b7410e
*/

